body{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 100px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 50px;
  }
